_build/
.DS_Store
*.aux
*.log
*.out
*.synctex.gz
_opam/
*.fdb_latexmk
*.fls
rocq/*.vo
rocq/*.vok
rocq/*.vos
rocq/*.glob
rocq/.*.aux
rocq/Makefile
rocq/Makefile.conf
rocq/.lia.cache
rocq/.nia.cache
rocq_check_probe/
rocq/.Makefile.d
rocq/rocq_mcp_cache_*
